*{
	color:#FDFDFD;
	font-family: 'Montserrat', sans-serif;
}

body{
	padding-top: 50px;
}

h1,h2{
	font-family: 'Dancing Script', cursive;
	text-shadow:4px 2px 3px black;
}

h1{
	font-size: 5em;
}

h2{
	font-size: 4em;
}

h4{
	text-decoration: underline;
}

ul{
	list-style: square inside none;
}

.ul-spacing{
	padding-left: 40%
}

i {
	color: #000000;
	padding-right: 3px;
}

.navbar-inverse .navbar-nav>li>a, nav i, .navbar-inverse .navbar-brand{
	color:white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover{
	background-color: #4A4A4A;
}

.linkedinIcon{
	vertical-align: 0%;
}

.homeSectionBackground{
	background: url(http://i.imgur.com/GfIbF8V.png) no-repeat fixed;
	background-position: center;
	background-size: cover;
}

.aboutSectionBackground{
	background: url(http://i.imgur.com/xRshk2l.png) no-repeat fixed;
	background-position: center;
	background-size: cover;
}

.portfolioSectionBackground{
	background: url(http://i.imgur.com/zNXuBY4.png) no-repeat fixed;
	background-position: center;
	background-size: cover;
}

.contactSectionBackground{
	background: url(http://i.imgur.com/lhknrdQ.png) no-repeat fixed;
	background-position: center;
	background-size: cover;
}

.contentSection{
	overflow:auto;

}


.homeSection{
	padding-top: 12%;
	height: 100%;
}

.homeButtons{
	text-align: center;
}

.homeButtons div{
	display:inline-block;
}

.homeButtons div~div{
	margin-left: 1%;
}

.aboutSection{
	padding: 6% 0 8% 0;
}

.contactSection{
	padding: 10% 0 25% 0;
}

.contactSection p>a {
	color: white;
}


.contactButtons div {
	margin-top: 4%;
	padding: 0 0 0 35%;
}

.btn-default{
	background-color: rgba(252, 248, 227, 0.58);
	border: solid 2px #000000;
	color: #000000;
	transition: transform .5s;
}

.btn-default:hover, .btn-default:hover:focus, .btn-default:hover i, .btn-default:hover:focus i{
	background-color: rgba(0, 0, 0, 1);
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	transform:scale(1.1,1.1);
}

.btn-default:hover i, .btn-default:hover:focus i{
	border:none;
}

.btn-default:focus,.btn-default.focus,.btn-default:active,
.btn-default.active,.btn-default:active:hover,
.btn-default.active:hover, 
.btn-default.active:hover,.btn-default:active:focus,
.btn-default.active:focus,.btn-default:active,
.btn-default.active {
	background-color: rgba(252, 248, 227, 0.58);
	border: solid 2px #000000;
	color: #000000;
	transition: transform .5s;
}


/* Footer Section */



footer li{
	display: inline-block;
	padding-top: 1%;
}

.middot{
	margin: 0 10px 0 8px; 
}

@media	(max-width:767px){

	h1{
		font-size: 4em;
	}

	h2{
		font-size: 3em;
	}

	.thumbnail{
		display:inline-block;
	}

	.homeButtons{
		text-align: left;
	}

	.homeButtons div{
		display: block;
		padding: 0 0 0 35%;

	}

	 .homeButtons div~div{
		margin-top: 4%;
	}

	.contactSection h3{
		font-size: 2em;
	}

	.aboutSection p{
		 padding-left: 4%;
}

}
