/* * - This section applies to all elements*/
*{
	color:#FDFDFD;
	font-family: 'Montserrat', sans-serif;
}

/* body selector creates spaces between the first container div and the navbar */
body{
	padding-top: 50px;
}

/* h1 and h2 selector establish different font style for the various titles of the text content */
h1,h2{
	font-family: 'Dancing Script', cursive;
	text-shadow:4px 2px 3px black;
}

h1{
	font-size: 5em;
}

h2{
	font-size: 4em;
}

/* h4 and ul set the style for aboutSection contianer */

h4{
	text-decoration: underline;
}

ul{
	list-style: square inside none;
}

.ul-spacing{
	padding-left: 40%
}

/* i sets the intial value of the social media icons*/
i {
	color: #000;
	padding-right: 3px;
}

/* nav selectors set the hover states and styles for nav bar buttons and icons */

.navbar-inverse .navbar-nav>li>a, nav i, .navbar-inverse .navbar-brand{
	color:#FFF;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover{
	background-color: #4A4A4A;
}

/* sectionBackground classes set the background images for each section */

.homeSectionBackground{
	background: url(http://i.imgur.com/GfIbF8V.png) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.aboutSectionBackground{
	background: url(http://i.imgur.com/xRshk2l.png) no-repeat fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.portfolioSectionBackground{
	background: url(http://i.imgur.com/zNXuBY4.png) no-repeat fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.contactSectionBackground{
	background: url(http://i.imgur.com/lhknrdQ.png) no-repeat fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* Section classes sets the styles and sets the block formatting context*/
.contentSection{
	overflow:hidden;

}

.homeSection{
	padding-top: 12%;
	height: 100%;
}

.aboutSection{
	padding: 6% 0 8% 0;
}

.contactSection{
	padding: 10% 0 25% 0;
}

.contactSection p>a {
	color: white;
}

/* following clases sets the style for the social media buttons and handles the styles when the user is using desktop size widths*/

.linkedinIcon{
	vertical-align: 0%;
}

.homeButtons{
	text-align: center;
}

.homeButtons div{
	display:inline-block;
}

.homeButtons div~div{
	margin-left: 1%;
}

.contactButtons div {
	margin-top: 4%;
	padding: 0 0 0 35%;
}

.btn-default{
	background-color: rgba(252, 248, 227, 0.58);
	border: solid 2px #000000;
	color: #000000;
	transition: transform .5s;
}

/* reference to Bootstrap classes to override default styles */

.btn-default:hover, .btn-default:hover:focus, .btn-default:hover i, .btn-default:hover:focus i{
	background-color: rgba(0, 0, 0, 1);
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	transform:scale(1.1,1.1);
}

.btn-default:hover i, .btn-default:hover:focus i{
	border:none;
}

.btn-default:focus,.btn-default.focus,.btn-default:active,
.btn-default.active,.btn-default:active:hover,
.btn-default.active:hover, 
.btn-default.active:hover,.btn-default:active:focus,
.btn-default.active:focus,.btn-default:active,
.btn-default.active {
	background-color: rgba(252, 248, 227, 0.58);
	border: solid 2px #000000;
	color: #000000;
	transition: transform .5s;
}


/* Footer Section */

footer li{
	display: inline-block;
	padding-top: 1%;
}

.middot{
	margin: 0 10px 0 8px; 
}

/* media query to establish style of portfolio section, decrease font-size of h1 nd h2 elements, and change display value of socila media buttons */
@media	(max-width:767px){

	h1{
		font-size: 4em;
	}

	h2{
		font-size: 3em;
	}

	.thumbnail{
		display:inline-block;
	}

	.homeButtons{
		text-align: left;
	}

	.homeButtons div{
		display: block;
		padding: 0 0 0 35%;

	}

	 .homeButtons div~div{
		margin-top: 4%;
	}

	.contactSection h3{
		font-size: 2em;
	}

	.aboutSection p{
		 padding-left: 4%;
	}

	.portfolioSectionBackground{
		background-attachment: scroll;
	}

}
